[Unit]
Description=Bot vk service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/work/www/myunit/current
OOMScoreAdjust=-100
ExecStart=/usr/bin/env php "/work/www/myunit/current/bot.php"

[Install]
WantedBy=multi-user.target
